kafkaPool: nav-dev
replicas:
  min: 0
  max: 0
limits:
  cpu: 2000m
azure:
  enabled: true
  tenant: trygdeetaten.no
accessPolicy:
  outbound:
    rules:
      - application: medlemskap-sykepenger-listener
        namespace: medlemskap
env:
- name: MEDLEMSKAP_SCOPE
  value: api://dev-gcp.medlemskap.medlemskap-sykepenger-listener/.default
- name: MEDLEMSKAP_BASE_URL
  value: http://medlemskap-sykepenger-listener.medlemskap.svc.cluster.local
