#
# Templated nais.yml for all apps in all clusters.
#
# Replace <app_name> and <cluster_file> and run the deploy tool in dry run mode
# from the repo root to see the results:
#
#docker run --rm -it -v $(PWD)/config:/config \
#  -e CLUSTER="" \
#  -e VAR="team=tbd,app=<app_name>" \
#  ghcr.io/nais/deploy/deploy:latest /app/deploy \
#  --dry-run \
#  --print-payload \
#  --resource /config/nais.yml \
#  --vars /config/<app_name>/<cluster_file>.yml \
#  --apikey ""

apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: sparkel-{{app}}
  namespace: {{team}}
  labels:
    team: {{team}}
spec:
  image: {{image}}
  port: 8080
  liveness:
    path: isalive
    initialDelay: 5
  readiness:
    path: isready
    initialDelay: 5
  resources:
    limits:
      cpu: 2000m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 128Mi
  replicas:
    min: {{#if replicas.min includeZero=true }}{{ replicas.min }}{{else}}3{{/if}}
    max: {{#if replicas.max includeZero=true }}{{ replicas.max }}{{else}}3{{/if}}
    cpuThresholdPercentage: 75
  {{#if kafkaPool}}
  kafka:
    pool: {{ kafkaPool }}
  {{/if}}
  {{#if azure}}
  azure:
    application:
      enabled: {{azure.enabled}}
      {{#if azure.tenant}}
      tenant: {{azure.tenant}}
      {{/if}}
  {{/if}}
  prometheus:
    enabled: true
    path: /metrics
  webproxy: true
  secureLogs:
    enabled: true
  vault:
    enabled: true
    {{#if mountPaths}}
    paths:
    {{# each mountPaths as |item| }}
      - mountPath: {{ item.mountPath }}
        kvPath: {{ item.kvPath }}
    {{/each}}
    {{/if}}
  {{#if envFrom}}
  envFrom:
  {{# each envFrom as |item| }}
  - secret: {{item}}
  {{/each}}{{/if}}
  env:
  - name: KAFKA_CONSUMER_GROUP_ID
    value: {{#if kafkaConsumerGroup }}{{ kafkaConsumerGroup }}{{else}}{{team}}-sparkel-{{app}}-v1{{/if}}
  - name: KAFKA_RAPID_TOPIC
    value: tbd.rapid.v1
  {{#if env}}{{# each env as |item| }}
  - name: {{ item.name }}
    value: "{{ item.value }}"
  {{/each }}{{/if}}
  {{#if gcp}}
  gcp:
    sqlInstances:
      - type: {{ gcp.type }}
        databases:
          - name: {{ gcp.name }}
            envVarPrefix: {{ gcp.envVarPrefix }}
        tier: {{ gcp.tier }}
  {{/if}}
  {{#if externalHosts}}
  accessPolicy:
    outbound:
      external:
      {{# each externalHosts as |item| }}
        - host: {{item}}
      {{/each}}
  {{/if}}
