kafkaPool: nav-prod
azure:
  enabled: true
  tenant: nav.no
externalHosts:
  - fpabakus.prod-fss-pub.nais.io
env:
  - name: ABAKUS_URL
    value: https://fpabakus.prod-fss-pub.nais.io/fpabakus/ekstern/api/ytelse/v1/hent-ytelse-vedtak
  - name: ABAKUS_SCOPE
    value: api://prod-fss.teamforeldrepenger.fpabakus/.default
