kafkaPool: nav-dev
replicas:
  min: 1
  max: 1
mountPaths:
- mountPath: /var/run/secrets/nais.io/service_user
  kvPath: /serviceuser/data/dev/srvsparkelarena
env:
- name: STS_URL
  value: https://sts-q2.preprod.local/SecurityTokenServiceProvider/
- name: YTELSESKONTRAKT_BASE_URL
  value: https://arena-q2.adeo.no/ail_ws/Ytelseskontrakt_v3
- name: MELDEKORT_UTBETALINGSGRUNNLAG_ENDPOINTURL
  value: https://arena-q2.adeo.no/ail_ws/MeldekortUtbetalingsgrunnlag_v1
